.text{
    font-size: 24px;
    font-weight: 700;
    position: relative;
    margin-right: 70%;
}

.barberName{
    
}

.content {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 1px;
}